<!doctype html>
<html class="{{#if isExport}}export{{/if}}" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="filter &amp; sort magical layouts" />

  <title>Isotope{{#unless page.is_homepage}} &middot; {{page.title}}{{/unless}}</title>

  {{#if isDev}}
    {{! DEV MODE - including each .css file }}
    {{#each css_paths}}
      <link rel="stylesheet" href="../{{@file.rootPath}}{{this}}" />
    {{/each}}
  {{else}}
    {{! in production, just include concat CSS }}
    <!-- Isotope does not require any CSS files -->
    <link rel="stylesheet" href="{{#if page.is_404}}/{{else}}{{@file.rootPath}}{{/if}}css/isotope-docs.css?6" media="screen" />
  {{/if}}

  {{! Twitter Cards }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@metafizzyco" />
  <meta name="twitter:url" content="http://isotope.metafizzy.co/{{basename}}.html" />
  <meta name="twitter:title" content="Isotope{{#unless page.is_homepage}} {{page.title}}{{/unless}}" />
  <meta name="twitter:description" content="filter &amp; sort magical layouts" />

</head>
<body class="page--{{@file.basename}}">

  {{> top-banner}}

  {{> nav}}

{{! display hero only on index page }}
{{#if page.is_homepage}}
{{>hero}}
{{/if}}

  <div id="content" class="main">
    <div class="container">
      {{#unless page.is_homepage}}
        <h1>{{page.title}}</h1>
      {{/unless}}

{{! all page content goes here }}
{{#block "main"}}{{/block}}
    </div>
  </div>

  {{> site-footer isotope=true}}

<!-- Looking for isotope.js? Use {{sourceUrlPath}}isotope.pkgd.min.js -->
<!-- Isotope does NOT require jQuery. But it does make things easier -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="{{@file.rootPath}}js/jquery.min.js"><\/script>')</script>

{{#if isDev}}
  {{#each js_paths}}
    {{! DEV MODE - including each .js file }}
    <script src="../{{@file.rootPath}}{{this}}"></script>
  {{/each}}
{{else}}
  {{! in production, just include concat/minified js }}
  <script src="{{#if page.is_404}}/{{else}}{{@file.rootPath}}{{/if}}js/isotope-docs.min.js?6"></script>
{{/if}}

{{#unless isExport}}
  <!-- Google Analytics - Remove this if you copy/pasted this page -->
  <script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-58739927-3','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
{{/unless}}

</body>
</html>
